.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    flex-direction: column;
    border: none;
    border-radius: 2px;
    cursor: pointer;  
    margin-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    transition: opacity 0.15s;
    vertical-align: top;
}

.subscribe-button:hover {
    opacity: 0.7;
}

.subscribe-button:active {
    opacity: 0.5;
}

.join-button{
    background-color: white;
    color: rgb(36, 80, 162) ;
    border-color: rgb(40, 88, 177);
    border-style: solid;
    border-width:1px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    transition: background-color 0.15s, color 0.15s;
    vertical-align: top;
}

.join-button:hover {
    background-color: rgb(36, 80, 162) ;
    color: white;
}

.join-button:active {
    opacity: 0.7;
}

.tweet-button{
    background-color: rgb(2, 158, 253);
    color: white;
    border-radius: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    vertical-align: top;
}

.tweet-button:hover{
    box-shadow: 10px 10px 10px rgba(2, 158, 253, 0.15)
}