p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding-top: 110px;
    padding-left: 105px;
    padding-right: 24px;
    background-color: rgb(245, 245, 245);
}